* {border:}
HTML, body {height: 100%;
margin: 0%;
}

.container{
	width: 100%;
	height: 100%;
}
.grey {
	position:relative;
	height:10%;
	max-height: 150px;
	background-color: gray;
	display: flex;	
	
}

#box{	
	background-color: lightblue;
	width: 50px;
	height:50px;
	margin-left: 10px;
	margin-top: 5px;
	display: flex-box;
	
}
.textspace{
	background-color: white;
	height: 50%;	
}

.blue {
	float:bottom;
	height: 10%;
	background-color: blue
	
}

.teal{
	float:bottom;
	height: 10%;
	background-color: teal;
}

.green{
	float:bottom;
	height: 10%;
	background-color: green;
}

.yellow{
	float:bottom;
	height: 10%;
	background-color: yellow;
}